/* Estilo global */
body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
.header {
    background-color: #00aeff; /* Cor do cabeçalho */
    color: yellow;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo alinhada à direita */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto; /* Move o logo para a direita */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: yellow;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Container centralizado */
.form-container {
    background-color: #ffffff; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 100px;
    margin-left: 550px;
}

/* Títulos */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #071c31; /* Azul-escuro */
}

/* Inputs */
input {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Botões */
button {
    background-color: #00aeff; /* Azul vibrante */
    color: yellow;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: white;
    background-color: #218838; /* Verde escuro */
}

/* Mensagem de erro ou sucesso */
#recuperarMessage {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00aeff; /* Cor do rodapé */
    color: yellow;
}
